
.challenge-card--inner {
	min-height: 200px;
}

.challenge-card--footer {
	min-height: 60px;
	padding: 10px;
}

.challenge-card--footer span{
	display: block;
	margin-bottom: 20px;
	font-size: 14px;
}

