
<section class="home-inner" [ngStyle]="{background: 'url(' + data?.homeBackground + ')' + 'center/cover no-repeat'}">
  <div class="container">
  	<div class="home-inner__text">
		<h1>Most liked person</h1>
		<h2>Be most wanted</h2>
		<p>{{ data.innerText }}</p>
  	</div>
  </div>
  <div class="home-inner__footer">
  	<div class="container">
  		<ul>
  			<li><span>{{ data.cities }}</span> Cities</li>
  			<li><span>{{ data.countries }}</span> Countries</li>
  			<li>In <span>{{ data.regions }}</span> Regions In The World</li>
  		</ul>
  		<p>You can be one of the winners and we will introduce you in the world</p>
  	</div>
  </div>
</section>

<button (click)="onClick()">Show message</button>
